.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 280px; /* Adjust this value to fit your needs */
    width: 400px;
    border: 2px solid rgb(14, 12, 12);
    background-color: rgb(230, 230, 230);
    border-radius: 30px;
    text-align: center;
    font-style: italic;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(165, 7, 34);
    font-size: 77px;
    margin-bottom: 10px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh; 
    
}

.msg {
    /* background-color: rgb(211, 205, 199);
    height: 60px;
    width: 350px;
    border-radius: 10px; */
    text-align: center;
}

#btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.card {
    border: 2px solid rgb(0, 0, 0);
}

#btn4{
    height: 30px;
    width: 60px;
    z-index: 1000;
    position: relative;
}

.btn-cont {
    display: flex;
}